<p style="color: green"><%= notice %></p>

<%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>

<div>
  <%= link_to "Editar esta postagem", edit_idea_path(@idea) %> |
  <%= link_to "Voltar para postagens", ideas_path %>

  <%= button_to "Apagar esta postagem", @idea, method: :delete %>
</div>
